@if (Show)
{
  <div class="modal" tabindex="-1" role="dialog" style="display:block">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          @HeaderContent
          <button class="close" @onclick="Close">
            <span aria-hidden="true">X</span>
          </button>
        </div>
        <div class="modal-body">
          <EditForm Context="formContext"
                    Model="vm"
                    OnValidSubmit="Save">
            <DataAnnotationsValidator/>

            <div class="form-group">
              <label for="Title">Title: </label>
              <InputText class="form-control"
                         id="Title"
                         placeholder="Book Title"
                         @bind-Value="vm.Title"/>
            </div>

            <div class="form-group">
              <label for="ISBN">ISBN: </label>
              <InputText class="form-control"
                         id="ISBN"
                         placeholder="ISBN Number"
                         @bind-Value="vm.ISBN"/>
            </div>

            <div class="form-group">
              <label for="Price">Price: </label>
              <InputNumber class="form-control"
                           id="Price"
                           placeholder="Price"
                           @bind-Value="vm.Price"/>
            </div>

            <button type="submit" class="btn btn-primary">
              @(vm.Id == 0 ? "Add" : "Save")
            </button>
            @if (vm.Id != 0)
            {
              <button class="btn btn-danger" @onclick="Delete">
                Delete
              </button>
            }
          </EditForm>
        </div>
      </div>
    </div>
  </div>
}