@page "/categories"
@using H2H.Blazor.UI.Pages.Components
@using H2H.DataAccess.Repository.Contracts
@inherits OwningComponentBase<IUnitOfWork>

<div class="border p-4 bg-white">
  <div class="row">
    <div class="col-8">
      <h2 class="text-info">Category List</h2>
    </div>
    <div class="col-4">
      <button class="btn btn-info form-control"
              @onclick="Add">
        Create New
      </button>
    </div>
  </div>
  <br/>
  <div>


    @if (categories == null)
    {
      <p>
        <em>Loading...</em>
      </p>
    }
    else
    {
      <TableTemplate Items="categories" Context="categoryContext">
        <TableHeader>
          <th>Name</th>
          <th></th>
        </TableHeader>
        <TableFooter>
          <td colspan="2">&copy; some rando dude</td>
        </TableFooter>
        <RowTemplate>
          <td>
            <b>@categoryContext.Name</b>
          </td>
          <td class="text-right">
            <button class="btn btn-primary btn-sm"
                    @onclick="() => Edit(categoryContext)">
              Edit
            </button>
            <button class="btn btn-danger btn-sm"
                    @onclick="() => Delete(categoryContext.Id)">
              Delete
            </button>
          </td>
        </RowTemplate>
      </TableTemplate>
    }
  </div>
</div>

<CategoryUpsert vm="viewModel"
                Show="showEditDialog"
                Save="Save"
                Close="CloseModals">
  <HeaderContent>
    <h3 class="modal-title" style="color:@(viewModel.Id == 0 ? "darkgreen" : "darkred");">
      @(viewModel.Id == 0 ? "Create" : "Edit")
      Category
    </h3>
  </HeaderContent>
</CategoryUpsert>
