@page "/publishers"
@using H2H.DataAccess.Repository.Contracts
@inherits OwningComponentBase<IUnitOfWork>

<div class="border p-4 bg-white">
  <div class="row">
    <div class="col-8">
      <h2 class="text-info">Publishers List</h2>
    </div>
    <div class="col-4">
      <button class="btn btn-info form-control"
              @onclick="Add">
        Create New
      </button>
    </div>
  </div>
  <br/>
  <div>
    @if (publishers == null)
    {
      <p>
        <em>Loading...</em>
      </p>
    }
    else
    {
      <TableTemplate Items="publishers" Context="publisherContext">
        <TableHeader>
          <th>Name</th>
          <th></th>
        </TableHeader>
        <TableFooter>
          <td colspan="2">&copy; some rando dude</td>
        </TableFooter>
        <RowTemplate>
          <td>
            <b>@publisherContext.Name</b>
          </td>
          <td class="text-right">
            <button class="btn btn-primary btn-sm"
                    @onclick="() => Edit(publisherContext)">
              Edit
            </button>
            <button class="btn btn-danger btn-sm"
                    @onclick="() => Delete(publisherContext.Id)">
              Delete
            </button>
          </td>
        </RowTemplate>
      </TableTemplate>
    }
  </div>
</div>

<PublisherUpsert vm="viewModel"
                 Show="showEditDialog"
                 Save="Save"
                 Close="CloseModals">
  <HeaderContent>
    <h3 class="modal-title" style="color:@(viewModel.Id == 0 ? "darkgreen" : "darkred");">
      @(viewModel.Id == 0 ? "Create" : "Edit")
      Publisher
    </h3>
  </HeaderContent>
</PublisherUpsert>
